@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,700;0,900;1,100;1,200&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

.App {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  color: white;
  background: 
  url(./background_photo_desktop.jpg)
  center right / cover no-repeat fixed 
  rgb(30, 215, 81)
  ;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

@media only screen and (min-width: 600px) and (min-height: 600px) {
  .App {
    font-size: 1.1rem;
  }
}