@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,700;0,900;1,100;1,200&display=swap");
:root {
  --color-accent: rgb(30, 215, 81);
  --color-hover:  rgb(30, 215, 96);
  --color-bg-1:   rgba(0, 0, 0, 0.5);
  --color-bg-2:   black;
  --img-bg:         url(./Images/background_photo_desktop.jpg);
  font-family: 'Poppins', sans-serif;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-weight: 300;
  color: white;
  background: var(--img-bg) center right/cover no-repeat fixed var(--color-accent);
  background-blend-mode: multiply;
  margin: 0;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo h1 {
  font-weight: 900;
  margin: 0;
}

.logo p {
  font-size: small;
  color: var(--color-accent);
  margin: 0;
  position: relative;
  top: -0.8em;
}

.logo p span {
  font-weight: 600;
}

.LandingPage {
  text-align: center;
  padding: 2em 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.LandingPage .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em;
}

.LandingPage .hero ul {
  margin: 0;
  padding: 0;
  color: var(--color-accent);
  list-style-type: none;
}

.LandingPage .hero ul li:nth-of-type(2), .LandingPage .hero ul li:nth-of-type(4) {
  font-size: 1.5em;
}

.LandingPage .hero ul li:nth-of-type(3) {
  font-size: 3em;
  line-height: 1em;
}

.LandingPage .hero h2 {
  font-size: 3em;
  font-weight: 900;
}

.LandingPage .link-prompt p {
  margin: 0 2em 1.5em;
}

.LandingPage .link-prompt p sup {
  font-size: 0.7em;
}

.LandingPage .link-prompt button {
  font-family: var(--font-primary);
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 2px;
  background-color: var(--color-accent);
  color: white;
  padding: 0.75em 2.5em;
  border: none;
  border-radius: 3em;
}

.Header {
  background-color: var(--color-bg-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 600px) {
  .logo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logo h1 {
    font-size: 3rem;
  }
  .logo p {
    font-size: 1em;
  }
  .LandingPage {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 1000px) {
  .LandingPage {
    padding: 0;
  }
  .LandingPage .hero {
    font-size: 2.5em;
  }
  .LandingPage .logo, .LandingPage .link-prompt {
    background-color: var(--color-bg-1);
    padding: 2em;
  }
  .Header .logo {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
/*# sourceMappingURL=index.css.map */